@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Hero section */

.hero-products {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.hero-products div {
  text-align: center;
}

.hero-products h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: aliceblue;
}

.hero-products p {
  font-size: 25px;
  padding-top: 8px;
}

.icons img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Products categories */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
  margin: 20px;
}
.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}
