@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #ebf4ff;
}

/* Styles for product Detial page */
.go-back {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  border-radius: 8px;
  color: #f9faf8;
  background: #4682a9;
}

.product-detial-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(90% - 40px);
  background: #f9faf8;
  border-bottom: #c9dbf8 2px solid;
  border-radius: 12px;
  margin: 50px auto 80px auto;
  padding: 20px;
  gap: 30px;
}

.product-detial-container img {
  width: 50%;
  max-width: 500px;
}

.product-detial-container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stock {
  color: #33f677;
  font-size: 20px;
}

.buy {
  background: #4682a9;
  text-align: center;
  color: #f9faf8;
  font-weight: 700;
  font-size: 22px;
  border-radius: 8px;
  padding: 8px 0;
  transition: all 0.2s;
}

.buy:hover {
  background: #559ac9;
}

/* Related products */
h2 {
  text-align: center;
}

.related-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 50px 0;
}

.related-products div {
  width: calc(30% - 40px);
  background: #f9faf8;
  padding: 20px;
  border-bottom: 2px solid #c9dbf8;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease;
}

.related-products div:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
}

.related-products img {
  width: 100%;
}


/* iPads size */
@media (max-width: 850px) {
  .product-detial-container {
    flex-direction: column;
  }

  .product-detial-container img {
    width: 65%;
  }

  .related-products {
    flex-direction: column;
    gap: 30px;
  }

  .related-products div {
    width: calc(80% - 40px);
  }
}

/* mobile size */
@media (max-width: 450px) {
  .product-detial-container img {
    width: 90%;
  }
}